<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-6">
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="#">
  <img src="/images/logo/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  Transit Clique
</a>
Logged in as: @<a href="/users/<%=@user.username%>"><%=@user.username%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  <a> <img src="/images/profile/images.jpg" width="200" height="200" class="rounded-circle" alt=""></a>
  <div class="container" style="width:70%;">
  <div class="badge badge-secondary text-wrap font-weight-bold font-italic" style="width:20rem;">
  <h2>Profile: @<%= @user.username %></h2>
    </div>
    <br><br>
    <h4>Post history:</h4>
    <br>
    <% @posts.each do |post| %>
      <h4> <a href="/posts/<%= post.id %>"><%= post.title %></a> </h4>
      <p>
        Posted by: @<a href="/users/<%= post.user.username %>"><%= post.user.username %></a>,  on  <%= post.updated_at.gmtime.localtime  %>
      </p>
      <p><em>Travel Date: <%= post.travel_date %> Return Date: <%= post.return_date %></em></p>
      <p><%= post.content %></p>
      <p>Destinations:</p>
        <% post.destinations.each do |d| %>
        <span class="badge badge-primary"><%= d.country %></span>
      <% end %> <br><br><br>
    <% end %>
    <div style="text-align: center">
      <a href="/posts/new" ><input type="button" class="btn btn-dark btn-lg" value="Create New Post" /></a>
    </div>
    <br>
    <div style="text-align: center">
    <a href="/posts" ><input type="button" class="btn btn-dark btn-lg" value="Return to Home" /></a>
    </div>
  </div>
  <!-- CSS -->
  <style type="text/css">
    html, body { height: 100%;}
    body {
      background-image: url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;}
  </style>

    <!-- Latest compiled and minified JavaScript -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
