<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-6">
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
   <a class="navbar-brand" href="#">
   <img src="/images/logo/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
   Transit Clique
 </a>
   Logged in as: @<a href="/users/<%=@user.username%>"><%=@user.username%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="/posts/new">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="/users/<%=@user.username%>">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  </div>
  <br><br>
  <div class="container" style="width:70%;">
    <div class="badge badge-secondary text-wrap font-weight-bold font-italic" style="width:rem;">
    <h2>Transit Clique Community Home Page</h2>
    </div>
    <br><br>
    <% @posts.each do |post| %>
      <h4> <a href="/posts/<%= post.id %>"><%= post.title %></a> </h4>
      <p>
        Posted by: <a href="/users/<%= post.user.username %>"><%= post.user.username %></a>,  on  <%= post.updated_at.gmtime.localtime  %>
      </p>
      <p><em>Travel Dates: <%= post.start_date %> - <%= post.end_date %></em></p>
      <p><%= post.content %> </p>
      <p>
        Destinations:<% post.destinations.each do |d| %>
        <span class="badge badge-primary"><%= d.country %></span>
        <% end %>
      </p>
      <br><br>
    <% end %>
    <div style="text-align: center">
      <a href="/posts/new"><input type="button" class="btn btn-dark btn-lg" value="New Post" /></a>
    </div>
    <br><br>
  </div>

  <!-- CSS -->
  <style type="text/css">
    html, body { height: 1000%;}
    body {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAABlBMVEXr6+vq6urHpScPAAABcklEQVR4nO3a22rDMBBAQfn/f7qsK2H51jpOEME78xL2IbQ6rRUJUgoAAAAAXDCFT7y3H6b9MIgG4xscrDRPg6GrumH1K/4/aHB7J3jZoNVfXfZqGNVgaAQN0u8H9/8+Grzxrvn10vDFNNAguC9s16HB+w3K6fDVDebf8e47X/ohQxuscmyGo6VrAAAAAAAAAAAAbLUv5Ez165FHQ9kMT6PBbFl2e9kMZTc8Tr/sw6Hsh6fRoPL9RA3C+UrzNIDgWbAnhswN3Bc0qE7Pyu5My1D2w9NoUGX+XGg0cE6E5uIW8OhnwZ6Yu4H7ggaVs7IGQYMq8+dCo8Ffcq6avOwH7o0h8/+B+4IGlbOyBkGDKvPnQqMB0NgPNAiZG7gvaFA5K2sQNKgyfy40GgCN/UCD/khwNJSD4UncFzQA+Bg7pAZBAwB67SaVmQYaQONB0CBoAEDPWVmDoAH88iBoEDQAoOesrAGwsBloEDQAoOe+oAFQfgDMfQ5hm8Ic0AAAAABJRU5ErkJggg==);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;}
  </style>



  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
